@media screen and (max-width:992px) {
    .menu-icon{
        margin-right: 0px;
    }
}
@media screen and (max-width:767px) {
    .h-left{
        width: 100%;
    }
    .header-search{
        min-width: 350px;
    }
    .menu-icon{
        width: 100%;
    }
    .nav{
        top:70px;
    }
}

@media screen and (max-width:576px) {
    .logos{
        width: 100%;
        align-items: center;
    }
    .menu-mobile-opener{
        width: 100%;
    }
    .header-search{
        min-width: 100%;
    }
    .mbopener{
        margin-right: 0px;
        margin-left: 20px;
    }
    .nav{
        top:110px;
    }
}